.total-body {
    background-color: #05445E;
    padding-bottom: 50px;
}

.home-head {
    width: 100%;
    display: flex;
    margin-top: 0px;
    /* background-color: #05445E; */
    padding-bottom: 4%;
}

.head-text {
    width: 50%;
    margin-top: 70px;
    font-size: 22px;
    color: #FFFAF0;
}

.head-text h1 {
    text-align: center;
}

.head-text p {
    padding-top: 40px;
    padding-left: 50px;
}

.head-img {
    width: 50%;
    /* padding: 20px; */
    padding-top: 15px;
    padding-left: 40px;
}

.bmw-img {
    width: 90%;
    border-radius: 50%;
    height: 530px;
}

span {
    color: orangered;
    font-size: 55px;
    font-weight: 500;
}

.btn-review {
    background-color: white;
    width: 30% !important;
    margin-left: 465px;
    color: orangered;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 0;
}